.newsletter-section {
  /* background: linear-gradient(to bottom right, #0e0ea0, #0c0c70); */
  text-align: center;
  padding: 60px 20px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.newsletter-heading {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.newsletter-subheading {
  font-size: 1.2rem;
    line-height: 1.75rem;
  margin-bottom: 40px;
  color: #d1d5db;
}

.newsletter-form-container {
  background-color: #0000004d;
  padding: 30px;
  border: 1px solid #ffffff1a;
  border-radius: 16px;
  max-width: 670px;
  margin: 0 auto;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.newsletter-input {
  padding: 15px 16px;
  border-radius: 6px;
  border: 1px solid #fff3; /* default border */
  background-color: #00000080;
  color: white;
  font-family: Inter;
  min-width: 250px;
  flex: 1;

  /* smooth animation */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.newsletter-input:focus {
  outline: none; /* remove default blue outline */
  border-color: #fa8938; /* orange border */
  box-shadow: 0 0 6px #fa8938; /* glowing effect */
}


.newsletter-input::placeholder {
  color: #aaa;
}

.newsletter-button {
  background-image: linear-gradient(45deg, hsl(160 70% 40%), hsl(165 70% 45%));
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.newsletter-button:hover {
 
  background-color: #1fad7ee6;
 box-shadow: 0 0 40px #fa893866;
  transform: scale(1.04);
}

.newsletter-note {
  font-size: 13px;
  color: #cccccc;
  opacity: 0.8;
}
@media(max-width:768px){
  .newsletter-button {
    padding: 8px 14px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;  
    border-radius: 5px; 
    width: 100%; /* ✅ make button full width */
  }

  .newsletter-section {
    padding: 60px 10px;
  }
  
  .newsletter-form {
    flex-direction: column;
    width: 100%;
  }

  .newsletter-input {
    width: 100% !important;
      padding: 12px 15px;
      min-width: 100%;
  }
  
.newsletter-note{
  line-height: 1.25rem;
}
.newsletter-form-container{
  padding: 35px 30px;
}
}
