.ste-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Info Box */
.ste-info {
  display: flex;
  gap: 14px;
  padding: 20px 22px;
  border-radius: 12px;
  background: linear-gradient(to right, rgb(59 130 246 / .1) , rgb(168 85 247 / .1));
  border: 1px solid #3b82f633;
}

.ste-info-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #3b82f633;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #60a5fa;
  flex-shrink: 0;
}

.ste-info h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #ffffff;
}

.ste-info p {
  font-size: 14px;
  color: #9ca3af;
  line-height: 1.6;
}

/* Field */
.ste-field label {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 11px;
  display: block;
}

.ste-field input {
  width: 100%;
  height: 46px;
  padding: 0 18px;
  border-radius: 6px;
  background: #00000080;
  border: 1px solid #fff3;
  color: #e5e7eb;
  font-size: 14px;
  outline: none;
  margin-bottom: 8px;
}

.ste-field input:focus {
  border-color: #60a5fa;
}

.ste-field input::placeholder {
  color: #94a3b8;
}

.ste-hint {
  font-size: 13px;
  color: #94a3b8;
  margin-top: 8px;
}

/* TOS */
.ste-tos {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #d1d5db;
  line-height: 1.55;
}

.ste-tos input {
  margin-top: 4px;
  width: 16px;
  height: 16px;
  accent-color: #22c55e;
}

.ste-tos a {
  color: #fb923c;
  text-decoration: none;
}

/* Button */
.ste-btn {
  margin-top: 12px;
  height: 55px;
  border-radius: 6px;
  background-image: linear-gradient(to right, #22c55e, #10b981, #14b8a6);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #fff;
  
  
}

.ste-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}




/* TOS Wrapper */
.ste-tos-wrap {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide native checkbox */
.ste-tos-native {
  display: none;
}

/* Custom box */
.ste-tos-box {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1.5px solid rgba(148, 163, 184, 0.4);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  margin-top: 3px;
  transition: all 0.18s ease;
  flex-shrink: 0;
}

/* Checked state */
.ste-tos-box.checked {
  background: linear-gradient(to right, #22c55e , #10b981);
  border-color: #22c55e;
  color: #ffffff;
}

/* Text */
.ste-tos-text {
  font-size: 14px;
  color: #cbd5f5;
  line-height: 1.55;
}

.ste-tos-text a {
  color: #fb923c;
  text-decoration: none;
}
