.hero-section {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  gap: 20px;
  padding: 50px 5% 20px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content h1 {
         font-size: 6rem;
         letter-spacing: -.025em;
        line-height: 1.1;
        max-width: 1200px;

  font-weight: 700;
  color: #ffffff;
}.animatedh1 {
  background: linear-gradient(to right,#c084fc , #ec4899 , #60a5fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  /* animation: pulse 4s infinite; */
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hero-content p {
      font-size: 1.5rem;
        line-height: 2rem;
  color: #fff !important;
  font-weight: 200;
margin-top: 0;
transition: opacity 0.3s ease-out; 
}
.start-converting-btn {
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: transparent;
  border: 2px solid #ffffff4d;
}

.start-converting-btn:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 20px rgba(34, 197, 94, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {

  .hero-content h1 {
    font-size: 3.75rem;
    line-height: 1.3;
    margin-top: 20px;
  }

  .hero-content p {
    font-size: 16px;
  }
.start-converting-btn {
margin-top: 30px;
}

}


.hero-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.try-free-btn {
  box-shadow: 0 10px 15px -3px rgba(34, 197, 94, 0.3), 0 4px 6px -4px rgba(34, 197, 94, 0.3);
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 40px;
  background-image: linear-gradient(to right, #22c55e, #10b981, #14b8a6);
  border-radius: 0.75rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-subtext {
 font-size: 0.875rem;
    line-height: 1.25rem;
  color: #9ca3af;
  margin-top: 3px;
}

.hero-trust {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  justify-content: center;
 font-size: 0.875rem;
    line-height: 1.25rem;
  color: #9ca3af;
}
.hero-trust .hero-trust-icon{
  color: #4ade80;
}
.hero-trust span {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 768px) {
  .hero-buttons {
    flex-direction: column;
    gap: 0px;
    margin-top: 20px;
  }

  .hero-trust {
    gap: 12px;
    max-width: 310px;
    line-height: 1.6;
  }
}
